
header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: darkgray;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem  2rem;
    color: white;
    z-index: 999;
    top: 0;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav a{
color: white;
margin-left: 1.5rem;
text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}

@media (max-width:768px){
    .nav{
        display: none;
    }
}